<!DOCTYPE html>
<html>
<head>
<title>Form</title>

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <a href="#" class="close"></a>
            <form method="POST" action="" class="text-content">
                <div class="input-container">
                    <i class="fas fa-user icon-text"></i><input type="text" name="username" placeholder="Username or email">    
                </div>
                <div class="input-container position-relative">
                    <i class="fas fa-key icon-text"></i><input type="password" name="password" placeholder="Password"><i class="far fa-eye icon-eye" style="margin-left: -30px; cursor: pointer; color: #eeedeb;"></i>
                </div>
                <div class="submit-container">
                    <input type="checkbox" name="remember" value="Remember" class="check-box"><label class="remember">Remember me</label>
                    <input class="btn" type="submit" value="LOGIN">
                </div>
                <div class="submit-container"> 
                    <label class="register">Register now</label>
                    <label class="forgot-pass">Forgot password?</label>
                </div>
            </form><br>
            <div class="submit-container">
                <hr><br>
            </div>
            <div class="bottom">
                <div class="social-btn">
                    <i class="fab fa-facebook"></i><input class="facebook-btn bottom-btn" type="submit" value="LOGIN WITH FACEBOOK">
                </div>
                <div class="social-btn">
                    <i class="fab fa-twitter"></i><input class="twitter-btn bottom-btn" type="submit" value="LOGIN WITH TWITTER">
                </div>
                <div class="social-btn">
                    <i class="fab fa-google"></i><input class="google-btn bottom-btn" type="submit" value="LOGIN WITH GOOGLE">
                </div>
            </div>
        </div>
        <div>
            <img src="form image.png" style="width: 412px; height: 100%;">
        </div>
    </div>
</body>
</html>